/* Grid */

.body {
    display: grid;
    grid-template-columns: (7, 1fr);
    grid-template-rows: 33,3%, 33.3%, 33,3%;
    grid-area: "";
}


.nav-header{
    background-color: rgb(175, 175, 248);
    display: grid;
    grid-template-areas: nh;
}

.panel-asistencia {
    background-color: beige;
    grid-template-areas: sb;
}

.registro-alumno {
    background-color: blueviolet;
}
.lista-alumnos-registrados {
    background-color: chocolate;
}

.footer {
    background-color: cadetblue;
    grid-template-areas: foot;
}